Modul 3/Teillösung_Node-RED_InflluxDB.json
[{"id":"2a7f51ec784d21ab","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"10785b1cfba84255","type":"inject","z":"2a7f51ec784d21ab","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"time","payload":"","payloadType":"date","x":190,"y":160,"wires":[["da104a7a2b9657ee"]]},{"id":"a9c3fda52fc5b85a","type":"inject","z":"2a7f51ec784d21ab","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"time","payload":"","payloadType":"date","x":170,"y":380,"wires":[["628f49672c8b2b36"]]},{"id":"628f49672c8b2b36","type":"function","z":"2a7f51ec784d21ab","name":"Sensor (fiktiv)","func":"var Beschleunigung = Math.random() * 3 -1.5\nvar temp = Math.random() * 40 + 20\nvar time = new Date(msg.payload)\n\nmsg.payload = {\n    \"time\": time,\n    \"Beschleunigung\": Beschleunigung,\n    \"Temperatur\": temp\n}\n\nmsg.topic = \"Sensor\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":440,"wires":[["5490946852fbf392"]]},{"id":"5490946852fbf392","type":"csv","z":"2a7f51ec784d21ab","name":"","sep":",","hdrin":"","hdrout":"once","multi":"one","ret":"\\n","temp":"time, Beschleunigung, Temperatur","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":410,"y":500,"wires":[["139a0e3a482e1077"]]},{"id":"139a0e3a482e1077","type":"file","z":"2a7f51ec784d21ab","name":"Write Sensordaten","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":530,"y":560,"wires":[[]]},{"id":"710a79837d5d68d2","type":"comment","z":"2a7f51ec784d21ab","name":"In Write Sensordaten ist der Pfad mit dem Dateinamen noch zu setzen","info":"","x":750,"y":520,"wires":[]},{"id":"da104a7a2b9657ee","type":"function","z":"2a7f51ec784d21ab","name":"Maschine (fiktiv)","func":"var Motorstrom = Math.random() * 10\nvar Drehmoment = Motorstrom * 3.6\nvar Motortemp = Math.random() * 60 + 20\nvar time = new Date(msg.payload)\n\nmsg.payload = {\n    \"time\": time,\n    \"Motorstrom\": Motorstrom,\n    \"Drehmoment\": Drehmoment,\n    \"Motortemperatur\": Motortemp\n}\n\nmsg.topic = \"Maschine\"\nmsg.measurement = \"Maschine\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":220,"wires":[["619aa4cf1df1cd98"]]},{"id":"619aa4cf1df1cd98","type":"influxdb out","z":"2a7f51ec784d21ab","influxdb":"909eedd3.53758","name":"Maschine2influxDB","measurement":"Maschine","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"PI_Org","bucket":"Maschinendaten_test","x":470,"y":280,"wires":[]},{"id":"c879ac9243490205","type":"comment","z":"2a7f51ec784d21ab","name":"Der Token von InfluxDB muss noch eingefügt werden","info":"","x":630,"y":240,"wires":[]},{"id":"909eedd3.53758","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"PI_InfluxDB","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true,"credentials":{}}]