Modul 2/Teillösung_Node-RED.json
[{"id":"bdb441d5.c201b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1d4f25667f1606d2","type":"inject","z":"bdb441d5.c201b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"time","payload":"","payloadType":"date","x":250,"y":160,"wires":[["982d3ef4d7a9ec34","2d4f288fed714ca7"]]},{"id":"982d3ef4d7a9ec34","type":"debug","z":"bdb441d5.c201b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":160,"wires":[]},{"id":"2d4f288fed714ca7","type":"function","z":"bdb441d5.c201b","name":"Maschine (fiktiv)","func":"var Motorstrom = Math.random() * 10\nvar Drehmoment = Motorstrom * 3.6\nvar Motortemp = Math.random() * 60 + 20\nvar time = new Date(msg.payload)\n\nmsg.payload = {\n    \"time\": time,\n    \"Motorstrom\": Motorstrom,\n    \"Drehmoment\": Drehmoment,\n    \"Motortemperatur\": Motortemp\n}\n\nmsg.topic = \"Maschine\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":220,"wires":[["982d3ef4d7a9ec34","28e918dd03af2aad"]]},{"id":"28e918dd03af2aad","type":"csv","z":"bdb441d5.c201b","name":"","sep":",","hdrin":"","hdrout":"once","multi":"one","ret":"\\n","temp":"time, Motorstrom, Drehmoment, Motortemperatur","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":510,"y":280,"wires":[["07840cae7fbe8dd3"]]},{"id":"07840cae7fbe8dd3","type":"file","z":"bdb441d5.c201b","name":"Write Maschinendaten","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":640,"y":340,"wires":[[]]},{"id":"49fda4f71ed811bf","type":"comment","z":"bdb441d5.c201b","name":"In Write Maschinendaten ist der Pfad mit dem Dateinamen noch zu setzen","info":"","x":860,"y":300,"wires":[]}]