Modul 7/Startpunkt_Übung_Node-RED_Security.json
[{"id":"2a7f51ec784d21ab","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"431596866b4a90c2","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"909eedd3.53758","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"PI_InfluxDB","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"e9c0a33963a81732","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9a03f4dc9768f6b7","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:4840","secpol":"None","secmode":"None","login":false},{"id":"10785b1cfba84255","type":"inject","z":"2a7f51ec784d21ab","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"time","payload":"","payloadType":"date","x":190,"y":160,"wires":[["da104a7a2b9657ee"]]},{"id":"a9c3fda52fc5b85a","type":"inject","z":"2a7f51ec784d21ab","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"time","payload":"","payloadType":"date","x":170,"y":380,"wires":[["628f49672c8b2b36"]]},{"id":"628f49672c8b2b36","type":"function","z":"2a7f51ec784d21ab","name":"Sensor (fiktiv)","func":"var Beschleunigung = Math.random() * 3 -1.5\nvar temp = Math.random() * 40 + 20\nvar time = new Date(msg.payload)\n\nmsg.payload = {\n//    \"time\": time,\n    \"Beschleunigung\": Beschleunigung,\n    \"Temperatur\": temp\n}\n\nmsg.topic = \"Sensor\"\nmsg.measurement = \"Sensor\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":440,"wires":[["1ba2f3617f1b3f5c"]]},{"id":"da104a7a2b9657ee","type":"function","z":"2a7f51ec784d21ab","name":"Maschine (fiktiv)","func":"var Motorstrom = Math.random() * 10\nvar Drehmoment = Motorstrom * 3.6\nvar Motortemp = Math.random() * 60 + 20\nvar time = new Date(msg.payload)\n\nmsg.payload = {\n    \"time\": time,\n    \"Motorstrom\": Motorstrom,\n    \"Drehmoment\": Drehmoment,\n    \"Motortemperatur\": Motortemp\n}\n\nmsg.topic = \"Maschine\"\nmsg.measurement = \"Maschine\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":220,"wires":[["619aa4cf1df1cd98"]]},{"id":"619aa4cf1df1cd98","type":"influxdb out","z":"2a7f51ec784d21ab","influxdb":"909eedd3.53758","name":"Maschine2InfluxDB","measurement":"Maschine","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"PI_Org","bucket":"Maschinendaten_test","x":470,"y":280,"wires":[]},{"id":"c879ac9243490205","type":"comment","z":"2a7f51ec784d21ab","name":"Der Token von InfluxDB muss noch eingefügt werden","info":"","x":630,"y":240,"wires":[]},{"id":"1ba2f3617f1b3f5c","type":"mqtt out","z":"2a7f51ec784d21ab","name":"","topic":"PI/Sensor/Daten","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e9c0a33963a81732","x":440,"y":500,"wires":[]},{"id":"ce5427eb106f0f1b","type":"mqtt in","z":"431596866b4a90c2","name":"","topic":"PI/Sensor/Daten","qos":"0","datatype":"json","broker":"e9c0a33963a81732","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":100,"wires":[["2d9376144973ca25"]]},{"id":"2d9376144973ca25","type":"influxdb out","z":"431596866b4a90c2","influxdb":"909eedd3.53758","name":"Sensor2InfluxDB","measurement":"Sensor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"PI_Org","bucket":"Maschindaten_test","x":470,"y":100,"wires":[]},{"id":"95e5f32549804c54","type":"mqtt in","z":"431596866b4a90c2","name":"","topic":"PI/Sensor/Status","qos":"0","datatype":"utf8","broker":"e9c0a33963a81732","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":180,"wires":[["58533c2f6c566c1f"]]},{"id":"58533c2f6c566c1f","type":"debug","z":"431596866b4a90c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":180,"wires":[]},{"id":"0e41bd26cfb85791","type":"mqtt in","z":"431596866b4a90c2","name":"","topic":"PI/Python-Sensor/Daten","qos":"0","datatype":"json","broker":"e9c0a33963a81732","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":320,"wires":[["9004b0c43f81ccfe"]]},{"id":"9004b0c43f81ccfe","type":"influxdb out","z":"431596866b4a90c2","influxdb":"909eedd3.53758","name":"Sensor2InfluxDB","measurement":"Sensor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"PI_Org","bucket":"Maschindaten_test","x":470,"y":320,"wires":[]},{"id":"a59e740470591fee","type":"mqtt in","z":"431596866b4a90c2","name":"","topic":"PI/Python-Sensor/Status","qos":"0","datatype":"utf8","broker":"e9c0a33963a81732","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":400,"wires":[["04a1f7b8d3be974a"]]},{"id":"04a1f7b8d3be974a","type":"debug","z":"431596866b4a90c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":400,"wires":[]},{"id":"fd9a3f939069a892","type":"comment","z":"431596866b4a90c2","name":"Der Token von InfluxDB muss noch eingefügt werden","info":"","x":650,"y":280,"wires":[]},{"id":"d0b9c16cd1fc9611","type":"comment","z":"431596866b4a90c2","name":"Der Token von InfluxDB muss noch eingefügt werden","info":"","x":650,"y":60,"wires":[]},{"id":"e4c4ed90f5553987","type":"OpcUa-Client","z":"431596866b4a90c2","endpoint":"9a03f4dc9768f6b7","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":460,"y":540,"wires":[["5a432b8cbc2fec47"]]},{"id":"b56c5cb5a095aa26","type":"inject","z":"431596866b4a90c2","name":"rActualTorqueForce","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=Application.PlcProg.rActualTorqueForce","payload":"","payloadType":"date","x":180,"y":480,"wires":[["e4c4ed90f5553987"]]},{"id":"d55eec0f5f2f3899","type":"inject","z":"431596866b4a90c2","name":"rActualTorqueCurrent","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=Application.PlcProg.rActualTorqueCurrent","payload":"","payloadType":"date","x":180,"y":540,"wires":[["e4c4ed90f5553987"]]},{"id":"2c73108a625ec684","type":"inject","z":"431596866b4a90c2","name":"rActualVelocity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=Application.PlcProg.rActualVelocity","payload":"","payloadType":"date","x":160,"y":600,"wires":[["e4c4ed90f5553987"]]},{"id":"0ba8e42ae09737c8","type":"influxdb out","z":"431596866b4a90c2","influxdb":"909eedd3.53758","name":"Maschine2InfluxDB","measurement":"Maschine","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"PI_Org","bucket":"Maschindaten_test","x":830,"y":660,"wires":[]},{"id":"5a432b8cbc2fec47","type":"function","z":"431596866b4a90c2","name":"Topic & Payload anpassen","func":"msg.topic = msg.topic.split('.').pop()\n\nconst obj = {};\nobj[msg.topic] = msg.payload;\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":600,"wires":[["0ba8e42ae09737c8"]]},{"id":"4a9fb7c5207c685f","type":"comment","z":"431596866b4a90c2","name":"Der Token von InfluxDB muss noch eingefügt werden","info":"","x":1010,"y":620,"wires":[]},{"id":"b84782803b3ea127","type":"comment","z":"431596866b4a90c2","name":"Benutzername und Passwort für MQTT ist noch anzupassen","info":"","x":240,"y":240,"wires":[]}]